.grid-wrapper {
	position: relative;
	display: flex;
	justify-content: center;
}

.grid {

	position: absolute;

	&.playing {

		display: grid;
		grid-template-rows: repeat(10, 1fr);
		grid-gap: 5px;
		

		padding: 2vw;

		.row {
			display: grid;
			grid-template-columns: repeat(10, 1fr);
			grid-gap: 5px;
		}

		.cell {
			width: 8vw;
			height: 8vw;
			max-height: 50px;
			max-width: 50px;
			content: "";
			border-radius: 5px;
			background-color: #3c3c3c;
			cursor: url(../../images/cursor.svg) 15 15, auto;
			z-index:10;

			&:hover {
				background-color: #5c5c5c;
			}

			&.M {
				background-color: rgba(104, 240, 255, 0.5);
			}

			&.H {
				background-color: rgba(255, 0, 0, 0.5);
			}

			&.D {
				background-color: rgba(255, 255, 0, 0.5);
			}

			&.E {
				background-color: rgba(0, 0, 0, 0.5);
			}

		}
	}

	&.placing {
		display: grid;
		grid-template-rows: repeat(10, min(8vw, 50px));
		grid-template-columns: repeat(10, min(8vw, 50px));
		grid-gap: 5px;
		margin: 2vw;

		.ship {
			width: 100%;
			height: 100%;
			background-color: rgba(0, 144, 0, 0.5);
			border-radius: 5px;
			z-index:20;
		}
	}
}

.grid.drop-hover {
	border: 2px dashed #3498db;
	/* Couleur de la bordure lors du survol pour déposer */
}